{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="static/css/bootstrap.css">
{% endblock %}
{% block title %}Lista Pokemon{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Numero Pokedex</th>
            <th scope="col">Clasificacion</th>
            <th scope="col">Tipo 1</th>
            <th scope="col">Tipo 2</th>
        </tr>
    </thead>
    <tbody>
        {% for poke in pokemon %}
            <td scope="row">{{poke.Nombre}}</th>
            <td scope="row">{{poke.Numero_Pokedex}}</th>
            <td scope="row">{{poke.Clasificacion}}</th>
            <td scope="row">{{poke.Tipo_1}}</th>
            <td scope="row">{{poke.Tipo_2}}</th>

        {% endfor %}
        <tr>
            <th scope="row"></th>
        </tr>
    </tbody>
</table>


{% endblock %}