{% extends 'index.html' %}

{% block title %}Lista Pokemon{% endblock %}
{% block content %}
<div class="container"></div>
        <div class="row"></div>
            <div class="col-md-4"></div>
                <table class="table table-striped">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">ID</th> 
                            <th scope="col">Nombre</th>
                            <th scope="col">Numero de pokedex</th>
                            <th scope="col">Clasificacion</th>
                            <th scope="col">Tipo 1</th>
                            <th scope="col">Tipo 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if pokemon %}
                        {% for poke in pokemon %}
                        <tr class="table-active">
                            <td>
                                {{poke.id}}
                            </td>
                            <td>
                                <a href="detalle_pokemon/{{poke.id}}">{{poke.Nombre}}</a>
                            </td>
                            <td>
                                {{poke.Numero_Pokedex}}
                            </td>
                            <td>
                                {{poke.Clasificacion}}
                            </td>
                            <td>
                                {{poke.Tipo_1}}
                            </td>
                            <td>
                                {{poke.Tipo_2}}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <h1>No hay registros</h1>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}