{% extends 'index.html' %}

{% block title %}Detalle pokemon{% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid" style="background-image: url(static/background/background.jpg)">
    <div class="row">
        <div class="col-4" color="primary">
            <div class="card">
                <img src="{% get_static_prefix %}pokeimg/{{ detalle.id }}.jpg" alt="{{detalle.Nombre}}">
            </div>
            <div class="cointainer-fluid">
                <div class="row">
                    <div class="col-2">
                        <span>
                            <p>
                                Clasificacion: 
                            </p>
                        </span>    
                    </div>
                    <div class="col-5">
                        <span>
                            <p>
                                {{ detalle.Clasificacion }}
                            </p>
                        </span>
                    </div>
                </div>
                    
            </div>
                
        </div>
        <div class="col-4">
            <div class="row">
                <span class="badge text-bg-info"><h2>Nombre del Pokemon:         {{detalle.Nombre}}</h2></span><br>
            </div>
            <div class="row">
                <span class="badge text-bg-info"><h2>Puntos de Salud:            {{detalle.PS}}</h2></span><br>
            </div>
            <div class="row">
                <span class="badge text-bg-info"><h2>Puntos de Ataque:           {{detalle.Ataque}}</h2></span><br>
            </div>
            <div class="row">
                <span class="badge text-bg-info"><h2>Puntos de Defensa:          {{detalle.Defensa}}</h2></span><br>
            </div>
            <div class="row">
                <span class="badge text-bg-info"><h2>Puntos de Ataque_Especial:  {{detalle.Ataque_Especial}}</h2></span><br>
            </div>
            <div class="row">
                <span class="badge text-bg-info"><h2>Puntos de Defensa_Especial: {{detalle.Defensa_Especial}}</h2></span><br>
            </div>
            <div class="row">
                <span class="badge text-bg-info"><h2>Puntos de Velocidad:        {{detalle.Velocidad}}</h2></span><br>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="{% get_static_prefix %}region/{{ detalle.Generacion }}.png" alt="{{detalle.Generacion}}">
            </div>
            <span></span>
        </div>
    </div>
</div>

{% endblock %}