{% extends 'index.html' %}

{% block title %}Detalle pokemon{% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid" style="background-image: url(static/background/background.jpg)">
    <div class="container-fluid">
        <h1>#{{detalle.Numero_Pokedex}}: {{detalle.Nombre}}</h1>
    </div>
    <div class="row">
        <div class="col-4" color="primary">
                <img src="{% get_static_prefix %}pokeimg/{{ detalle.id }}.jpg" alt="{{detalle.Nombre}}">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-5">
                        <span><p>Tipos Elementales</p></span>
                    </div>
                    <div class="col-5">
                        {% if detalle.Tipo_1 %}
                            <img src="{% get_static_prefix %}types/{{ detalle.Tipo_1 }}.gif" alt="{{detalle.Tipo_1}}">
                            {% if detalle.Tipo_2 == '-' %}
                            {% else %}
                                <img src="{% get_static_prefix %}types/{{ detalle.Tipo_2 }}.gif" alt="{{detalle.Tipo_2}}">
                            {% endif %}
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5">
                        <span><p>Clasificacion </p></span>
                    </div>
                    <div class="col-5">
                        <span><p>{{ detalle.Clasificacion }}</p></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <span><p>Altura</span></p>
                        <span><p>Peso</span></p>
                    </div>
                    <div class="col-5">
                        <span><p> {{ detalle.Altura }}m </p></span>
                        <span><p> {{ detalle.Peso }}kg </p></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <span><p>Habilidades</p></span>
                    </div>
                    <div class="col-5">{{detalle.Habilidades}}</div>
                </div>
                    
            </div>
                
        </div>
        <div class="col-4">
            <div>
                <canvas id="myChart"></canvas>
            </div>
            <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['PS', 'Ataque', 'Defensa', 'Ataque_Especial', 'Defensa_Especial', 'Velocidad'],
                        datasets: [{
                            label: 'Estadisticas Base',
                            data: [{{detalle.PS}}, {{detalle.Ataque}}, {{detalle.Defensa}} ,{{detalle.Ataque_Especial}}, {{detalle.Defensa_Especial}}, {{detalle.Velocidad}}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'   
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
                </script>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <span><p>Debilidades x2</p></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-5">
                            {% if detalle.Contra_Bicho == 2 %}
                                <img src="{% get_static_prefix %}types/Bicho.gif" alt="Bicho">
                            {% endif %}
                            {% if detalle.Contra_Siniestro == 2 %}
                                <img src="{% get_static_prefix %}types/Siniestro.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Dragon == 2 %}
                                <img src="{% get_static_prefix %}types/Dragon.gif" alt="Dragon">
                            {% endif %}
                            {% if detalle.Contra_Electrico == 2 %}
                                <img src="{% get_static_prefix %}types/Electrico.gif" alt="Electrico">
                            {% endif %}
                            {% if detalle.Contra_Hada == 2 %}
                                <img src="{% get_static_prefix %}types/Hada.gif" alt="Hada">
                            {% endif %}
                            {% if detalle.Contra_Lucha == 2 %}
                                <img src="{% get_static_prefix %}types/Lucha.gif" alt="Lucha">
                            {% endif %}
                            {% if detalle.Contra_Fuego == 2 %}
                                <img src="{% get_static_prefix %}types/Fuego.gif" alt="Fuego">
                            {% endif %}
                            {% if detalle.Contra_Volador == 2 %}
                                <img src="{% get_static_prefix %}types/Volador.gif" alt="Volador">
                            {% endif %}
                            {% if detalle.Contra_Fantasma == 2 %}
                                <img src="{% get_static_prefix %}types/Fantasma.gif" alt="Fantasma">
                            {% endif %}
                            {% if detalle.Contra_Planta == 2 %}
                                <img src="{% get_static_prefix %}types/Planta.gif" alt="Planta">
                            {% endif %}
                            {% if detalle.Contra_Tierra == 2 %}
                                <img src="{% get_static_prefix %}types/Tierra.gif" alt="Tierra">
                            {% endif %}
                            {% if detalle.Contra_Hielo == 2 %}
                                <img src="{% get_static_prefix %}types/Hielo.gif" alt="Hielo">
                            {% endif %}
                            {% if detalle.Contra_Normal == 2 %}
                                <img src="{% get_static_prefix %}types/Normal.gif" alt="Normal">
                            {% endif %}
                            {% if detalle.Contra_Veneno == 2 %}
                                <img src="{% get_static_prefix %}types/Veneno.gif" alt="Veneno">
                            {% endif %}
                            {% if detalle.Contra_Psiquico == 2 %}
                                <img src="{% get_static_prefix %}types/Psiquico.gif" alt="Psiquico">
                            {% endif %}
                            {% if detalle.Contra_Roca == 2 %}
                                <img src="{% get_static_prefix %}types/Roca.gif" alt="Roca">
                            {% endif %}
                            {% if detalle.Contra_Acero == 2 %}
                                <img src="{% get_static_prefix %}types/Acero.gif" alt="Acero">
                            {% endif %}
                            {% if detalle.Contra_Agua == 2 %}
                                <img src="{% get_static_prefix %}types/Agua.gif" alt="Agua">
                            {% endif %}
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <span><p>Debilidades x4</p></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-5">
                            {% if detalle.Contra_Bicho == 4 %}
                                <img src="{% get_static_prefix %}types/Bicho.gif" alt="Bicho">
                            {% endif %}
                            {% if detalle.Contra_Siniestro == 4 %}
                                <img src="{% get_static_prefix %}types/Siniestro.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Dragon == 4 %}
                                <img src="{% get_static_prefix %}types/Dragon.gif" alt="Dragon">
                            {% endif %}
                            {% if detalle.Contra_Electrico == 4 %}
                                <img src="{% get_static_prefix %}types/Electrico.gif" alt="Electrico">
                            {% endif %}
                            {% if detalle.Contra_Hada == 4 %}
                                <img src="{% get_static_prefix %}types/Hada.gif" alt="Hada">
                            {% endif %}
                            {% if detalle.Contra_Lucha == 4 %}
                                <img src="{% get_static_prefix %}types/Lucha.gif" alt="Lucha">
                            {% endif %}
                            {% if detalle.Contra_Fuego == 4 %}
                                <img src="{% get_static_prefix %}types/Fuego.gif" alt="Fuego">
                            {% endif %}
                            {% if detalle.Contra_Volador == 4 %}
                                <img src="{% get_static_prefix %}types/Volador.gif" alt="Volador">
                            {% endif %}
                            {% if detalle.Contra_Fantasma == 4 %}
                                <img src="{% get_static_prefix %}types/Fantasma.gif" alt="Fantasma">
                            {% endif %}
                            {% if detalle.Contra_Planta == 4 %}
                                <img src="{% get_static_prefix %}types/Planta.gif" alt="Planta">
                            {% endif %}
                            {% if detalle.Contra_Tierra == 4 %}
                                <img src="{% get_static_prefix %}types/Tierra.gif" alt="Tierra">
                            {% endif %}
                            {% if detalle.Contra_Hielo == 4 %}
                                <img src="{% get_static_prefix %}types/Hielo.gif" alt="Hielo">
                            {% endif %}
                            {% if detalle.Contra_Normal == 4 %}
                                <img src="{% get_static_prefix %}types/Normal.gif" alt="Normal">
                            {% endif %}
                            {% if detalle.Contra_Veneno == 4 %}
                                <img src="{% get_static_prefix %}types/Veneno.gif" alt="Veneno">
                            {% endif %}
                            {% if detalle.Contra_Psiquico == 4 %}
                                <img src="{% get_static_prefix %}types/Psiquico.gif" alt="Psiquico">
                            {% endif %}
                            {% if detalle.Contra_Roca == 4 %}
                                <img src="{% get_static_prefix %}types/Roca.gif" alt="Roca">
                            {% endif %}
                            {% if detalle.Contra_Acero == 4 %}
                                <img src="{% get_static_prefix %}types/Acero.gif" alt="Acero">
                            {% endif %}
                            {% if detalle.Contra_Agua == 4 %}
                                <img src="{% get_static_prefix %}types/Agua.gif" alt="Agua">
                            {% endif %}
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">Fortalezas</div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-5">
                            {% if detalle.Contra_Bicho == 0.5 %}
                                <img src="{% get_static_prefix %}types/Bicho.gif" alt="Bicho">
                            {% endif %}
                            {% if detalle.Contra_Siniestro == 0.5 %}
                                <img src="{% get_static_prefix %}types/Siniestro.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Dragon == 0.5 %}
                                <img src="{% get_static_prefix %}types/Dragon.gif" alt="Dragon">
                            {% endif %}
                            {% if detalle.Contra_Electrico == 0.5 %}
                                <img src="{% get_static_prefix %}types/Electrico.gif" alt="Electrico">
                            {% endif %}
                            {% if detalle.Contra_Hada == 0.5 %}
                                <img src="{% get_static_prefix %}types/Hada.gif" alt="Hada">
                            {% endif %}
                            {% if detalle.Contra_Lucha == 0.5 %}
                                <img src="{% get_static_prefix %}types/Lucha.gif" alt="Lucha">
                            {% endif %}
                            {% if detalle.Contra_Fuego == 0.5 %}
                                <img src="{% get_static_prefix %}types/Fuego.gif" alt="Fuego">
                            {% endif %}
                            {% if detalle.Contra_Volador == 0.5 %}
                                <img src="{% get_static_prefix %}types/Volador.gif" alt="Volador">
                            {% endif %}
                            {% if detalle.Contra_Fantasma == 0.5 %}
                                <img src="{% get_static_prefix %}types/Fantasma.gif" alt="Fantasma">
                            {% endif %}
                            {% if detalle.Contra_Planta == 0.5 %}
                                <img src="{% get_static_prefix %}types/Planta.gif" alt="Planta">
                            {% endif %}
                            {% if detalle.Contra_Tierra == 0.5 %}
                                <img src="{% get_static_prefix %}types/Tierra.gif" alt="Tierra">
                            {% endif %}
                            {% if detalle.Contra_Hielo == 0.5 %}
                                <img src="{% get_static_prefix %}types/Hielo.gif" alt="Hielo">
                            {% endif %}
                            {% if detalle.Contra_Normal == 0.5 %}
                                <img src="{% get_static_prefix %}types/Normal.gif" alt="Normal">
                            {% endif %}
                            {% if detalle.Contra_Veneno == 0.5 %}
                                <img src="{% get_static_prefix %}types/Veneno.gif" alt="Veneno">
                            {% endif %}
                            {% if detalle.Contra_Psiquico == 0.5 %}
                                <img src="{% get_static_prefix %}types/Psiquico.gif" alt="Psiquico">
                            {% endif %}
                            {% if detalle.Contra_Roca == 0.5 %}
                                <img src="{% get_static_prefix %}types/Roca.gif" alt="Roca">
                            {% endif %}
                            {% if detalle.Contra_Acero == 0.5 %}
                                <img src="{% get_static_prefix %}types/Acero.gif" alt="Acero">
                            {% endif %}
                            {% if detalle.Contra_Agua == 0.5 %}
                                <img src="{% get_static_prefix %}types/Agua.gif" alt="Agua">
                            {% endif %}
                        </div>
                        <div class="col-4"></div>
                    </div>
                    
                </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="{% get_static_prefix %}region/{{ detalle.Generacion }}.png" alt="{{detalle.Generacion}}">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5">
                        <div class="row"><span><p>Region:</p></span></div>
                        <div class="row"><span><p>Caracteristica:</p></span></div>
                        <div class="row"><span><p>Basada originalmente en:</p></span></div>
                        
                    </div>
                    <div class="col-5">
                        {% if detalle.Generacion == 1.0 %}
                            <div class="row"><span><p>Kanto</p></span></div>
                            <div class="row"><span><p>La gran mayoría de las ciudades tiene nombres de colores.</p></span></div>
                            <div class="row"><span><p>La region del mismo nombre, Kanto, en la cual se encuenta la capital, Tokio</p></span></div>
                        {% else %}
                            {% if detalle.Generacion == 2.0 %}
                                <div class="row"><span><p>Johto</p></span></div>
                                <div class="row"><span><p>Los nombres de las ciudades son nombres de plantas o están relacionados con plantas.</p></span></div>      
                                <div class="row"><span><p>La region de Kansai, en la cual se encuentran ciudadades como Osaka y Kioto</p></span></div>                      
                            {% else %}
                                {% if detalle.Generacion == 3.0 %}
                                    <div class="row"><span><p>Hoenn</p></span></div>
                                    <div class="row"><span><p>Too much water</p></span></div>
                                    <div class="row"><span><p>Esta basada en la isla de Kyūshū, al sur de Japon</p></span></div>
                                {% else %}
                                    {% if detalle.Generacion == 4.0 %}
                                        <div class="row"><span><p>Sinnoh</p></span></div>
                                        <div class="row"><span><p>la primera region en tener un personaje femenino como campeon</p></span></div>
                                        <div class="row"><span><p>Basada en la isla de Hokkaidō, al norte de Japon y tambien parte de las islas Rusas Sajalín y Kunashir</p></span></div>
                                        
                                    {% else %}
                                        {% if detalle.Generacion == 5.0 %}
                                            <div class="row"><span><p>Teselia/Unova</p></span></div>
                                            <div class="row"><span><p>Es la primera Region que no esta basada en Japon</p></span></div>
                                            <div class="row"><span><p>La region esta basada en la ciudad de New York y sus alrededores</p></span></div>
                                        {% else %}
                                            {% if detalle.Generacion == 6.0 %}
                                                <div class="row"><span><p>Kalos</p></span></div>
                                                <div class="row"><span><p>Esta basada norte de Francia</p></span></div>
                                                <div class="row"><span><p>El nombre de la region proviene de la palabra griega "κάλλος"(Kallós, pronunciado con una sola L), que significa belleza</p></span></div>
                                            {% else %}
                                                {% if detalle.Generacion == 7.0 %}
                                                    <div class="row"><span><p>Alola</p></span></div>
                                                    <div class="row"><span><p>El nombre esta inspirado en el saludo Hawaiano Aloha.</p></span></div>
                                                    <div class="row"><span><p>Basada en el Archipiélago de Hawái</p></span></div>
                                                    
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if detalle.id == 1 %}
                            
                        {% endif %}
                    </div>
                </div>
            </div>
            <span></span>
        </div>
    </div>
</div>

{% endblock %}