{% extends 'index.html' %}

{% block title %}Detalle pokemon{% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid" style="background-image: url(static/background/background.jpg)">
    <div class="row">
        <div class="col-4" color="primary">
            <div class="card">
                <img src="{% get_static_prefix %}pokeimg/{{ detalle.id }}.jpg" alt="{{detalle.Nombre}}">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5">
                        <span><p>Tipos Elementales</p></span>
                    </div>
                    <div class="col-5">
                        <img src="{% get_static_prefix %}types/{{ detalle.Tipo_1 }}.gif" alt="{{detalle.Nombre}}">
                        <img src="{% get_static_prefix %}types/{{ detalle.Tipo_2 }}.gif" alt="{{detalle.Nombre}}">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5">
                        <span><p>Clasificacion </p></span>    
                    </div>
                    <div class="col-5">
                        <span><p>{{ detalle.Clasificacion }}</p></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <span><p>Altura</span></p>
                        <span><p>Peso</span></p>
                    </div>
                    <div class="col-5">
                        <span><p> {{ detalle.Altura }}m </p></span>
                        <span><p> {{ detalle.Peso }}kg </p></span>
                    </div>
                </div>
                    
            </div>
                
        </div>
        <div class="col-4">
            <div>
                <canvas id="myChart"></canvas>
            </div>
            <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['PS', 'Ataque', 'Defensa', 'Ataque_Especial', 'Defensa_Especial', 'Velocidad'],
                        datasets: [{
                            label: 'Estadisticas Base',
                            data: [{{detalle.PS}}, {{detalle.Ataque}}, {{detalle.Defensa}} ,{{detalle.Ataque_Especial}}, {{detalle.Defensa_Especial}}, {{detalle.Velocidad}}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'   
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
                </script>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <span><p>Debilidades x2</p></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">   
                            {% if detalle.Contra_Bicho == 2 %}
                                <img src="{% get_static_prefix %}types/Bicho.gif" alt="Bicho">
                            {% endif %}
                            {% if detalle.Contra_Siniestro == 2 %}
                                <img src="{% get_static_prefix %}types/Siniestro.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Dragon == 2 %}
                                <img src="{% get_static_prefix %}types/Dragón.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Electrico == 2 %}
                                <img src="{% get_static_prefix %}types/Electrico.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Hada == 2 %}
                                <img src="{% get_static_prefix %}types/Hada.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Lucha == 2 %}
                                <img src="{% get_static_prefix %}types/Lucha.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Fuego == 2 %}
                                <img src="{% get_static_prefix %}types/Fuego.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Volador == 2 %}
                                <img src="{% get_static_prefix %}types/Volador.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Fantasma == 2 %}
                                <img src="{% get_static_prefix %}types/Fantasma.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Planta == 2 %}
                                <img src="{% get_static_prefix %}types/Planta.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Tierra == 2 %}
                                <img src="{% get_static_prefix %}types/Planta.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Hielo == 2 %}
                                <img src="{% get_static_prefix %}types/Hielo.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Normal == 2 %}
                                <img src="{% get_static_prefix %}types/Normal.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Veneno == 2 %}
                                <img src="{% get_static_prefix %}types/Veneno.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Psiquico == 2 %}
                                <img src="{% get_static_prefix %}types/Psiquico.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Roca == 2 %}
                                <img src="{% get_static_prefix %}types/Roca.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Acero == 2 %}
                                <img src="{% get_static_prefix %}types/Acero.gif" alt="Siniestro">
                            {% endif %}
                            {% if detalle.Contra_Agua == 2 %}
                                <img src="{% get_static_prefix %}types/Agua.gif" alt="Siniestro">
                            {% endif %}
                        </div>
                        <div class="col-4"></div>
                    </div>
                    
                </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="{% get_static_prefix %}region/{{ detalle.Generacion }}.png" alt="{{detalle.Generacion}}">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5">
                        <span><p>Region:</p></span>
                    </div>
                    <div class="col-5">
                        {% if detalle.Generacion == 1.0 %}
                            <span><p>Kanto</p></span>
                        {% else %}
                            {% if detalle.Generacion == 2.0 %}
                                <span><p>Johto</p></span>
                            {% else %}
                                {% if detalle.Generacion == 3.0 %}
                                    <span><p>Hoenn</p></span>
                                {% else %}
                                    {% if detalle.Generacion == 4.0 %}
                                        <span><p>Sinnoh</p></span>
                                    {% else %}
                                        {% if detalle.Generacion == 5.0 %}
                                            <span><p>Teselia/Unova</p></span>
                                        {% else %}
                                            {% if detalle.Generacion == 6.0 %}
                                                <span><p>Kalos</p></span>
                                            {% else %}
                                                {% if detalle.Generacion == 7.0 %}
                                                    <span><p>Alola</p></span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <span></span>
        </div>
    </div>
</div>

{% endblock %}